<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="dashboard" class="brand-link d-flex align-items-center">
      <img src="../../../assets/img/coffinweb-green.png" alt="CoffinWeb Logo" class="brand-image img-fluid" style="width: 15vw; height: auto;">
      <!-- <span class="brand-text font-weight-dark ml-2">COFFIN-WEB</span> -->
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      

      <!-- SidebarSearch Form -->
      <div class="form-inline mt-4" >
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <li class="nav-item">


            <a href="" class="nav-link">
              <i class="fa-solid fa-boxes-stacked mr-2" ></i>
              <p>
              Stock
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>


            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="dashboard/productos" class="nav-link">
                  <p>Stock PT</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="dashboard/insumos" class="nav-link">
                  <p>Stock Insumos</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="dashboard/product-entity" class="nav-link">
                  <p>Producto</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="dashboard/insumo-entity" class="nav-link">
                  <p>Insumos</p>
                </a>
              </li>


            </ul>
          </li>
          <!-- <li class="nav-item">

            <a class="nav-link">
              <i class="fa-solid fa-arrow-trend-up mr-2"></i>
              <p>
                Costos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>


            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a class="nav-link">
                  <p>Costos</p>
                </a>
              </li>
             
            </ul>

            
          </li> -->


          <li class="nav-item">

          


            <a href="" class="nav-link">
              <i class="fa-solid fa-sheet-plastic mr-2"></i>
              <p>
              Documentos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>


            <ul class="nav nav-treeview">


              <li class="nav-item">
                <a href="dashboard/documentos" class="nav-link">
                  <p>Documentos</p>
                </a>
              </li>

            </ul>
          </li>
          <li class="nav-item">


            <a href="" class="nav-link">
              <i class="fa-solid fa-file-lines"></i>
              <p>
              Pedidos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>


            <ul class="nav nav-treeview">


              <li class="nav-item">
                <a href="dashboard/pedidos-compra" class="nav-link">
                  <p>Pedidos Compras</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="dashboard/pedidos-venta" class="nav-link">
                  <p>Pedidos Ventas</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="dashboard/pedidos-cancelados" class="nav-link">
                  <p>Pedidos Cancelados</p>
                </a>
              </li>


            </ul>

            <li class="nav-item">


              <a href="" class="nav-link">
                <i class="fa-solid fa-users mr-1"></i>
                <p>
                Personas
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>


            <ul class="nav nav-treeview">
              
              

              <li class="nav-item">
                <a href="dashboard/empleados" class="nav-link">
                  <p>Empleados</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="dashboard/proveedores" class="nav-link">
                  <p>Proveedores</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="dashboard/clientes" class="nav-link">
                  <p>Clientes</p>
                </a>
              </li>

              

            </ul>


            <li class="nav-item">


              <a href="" class="nav-link">
                <i class="fa-solid fa-file-lines"></i>
                <p>
                Padrones
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
  
  
              <ul class="nav nav-treeview">
  
                <li class="nav-item">
                  <a href="dashboard/depositos" class="nav-link">
                    <p>Depositos</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="dashboard/paises" class="nav-link">
                    <p>Paises</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="dashboard/provincias" class="nav-link">
                    <p>Provincias</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="dashboard/localidades" class="nav-link">
                    <p>Localidades</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="dashboard/bancos" class="nav-link">
                    <p>Bancos</p>
                  </a>
                </li>


                <li class="nav-item">
                  <a href="dashboard/tipo-personas" class="nav-link">
                    <p>Tipo Personas</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="dashboard/condicion-iva" class="nav-link">
                    <p>Condicion de Iva</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="dashboard/monedas" class="nav-link">
                    <p>Monedas </p>
                  </a>
                </li>
  
              </ul>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>