<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3"></app-breadcrumbs>
<div *ngIf="id !== 0">

    <div class="container mt-5">
        <div class="card mb-3 border border-0 mx-auto">
          <div class="card-body">
            
            <div class="form-container">
                <form [formGroup]="form" (ngSubmit)="addInsumo()">
                    <span>
                      <div class="row">
                        <div class="col">
                          <div class="form-group text-center">
                            <label for="name">Nombre</label>
                            <input formControlName="name" type="text" class="form-control" placeholder="Nombre">
                        </div>
                        </div>

                        <div class="col">
                          <div class="form-group text-center">
                            <label for="description">Descripcion</label>
                            <input formControlName="description" type="text" class="form-control" placeholder="Descripcion">
                        </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group text-center">
                            <label for="quantity">Cantidad</label>
                            <input formControlName="quantity" type="text" class="form-control" placeholder="Cantidad">
                        </div>
                        </div>

                        <div class="col">
                          <div class="form-group text-center">
                            <label for="price">Precio (ARS)</label>
                            <input formControlName="price" type="text" class="form-control" placeholder="Precio">
                        </div>
                        </div>
                      </div>
                      

                      <div class="row">
                        <div class="col">
                            <div class="form-group text-center">
                              <label for="deposito">Unidades De Medida</label>
                              <br>
                              <select class="form-select col-md-12" aria-label="Unidad de Medida" formControlName="uni_medida">
                                <option *ngFor="let unidad of unidadesMedida " [value]="unidad.id"> {{unidad.descripcion}}</option>
                              </select>
                            </div>
                          </div>

                            <div class="col">
                              <div class="form-group text-center">
                                <label for="deposito">Donde se Alamacenara?</label>
                                <br>
                                <select class="form-select col-md-12" aria-label="Depositos" formControlName="deposito">
                                    <option *ngFor="let deposito of depositos" [value]="deposito.id">{{deposito.description}}</option>
                                </select>
                              </div>
                          </div>
                      
                    </div>
                  
                    
                    <span>

                      <div class="row mt-5 text-center">
                          <div class="col-xs-12 col-md-6 col-lg-6">
                              <button routerLinkActive="router-link-active" type="submit"
                                  class="btn btn-success">Aceptar </button>
                          </div>
                          <div class="col-xs-12 col-md-6 col-lg-6">
                              <a type="button" class="btn btn-info" href="dashboard/insumos"> Volver </a>
                          </div>

                          
                          <!-- <div class="col-xs-12 col-md-6 col-lg-6">
                              <button type="button" class="btn btn-danger" (click)="rellenardatos()">RELLENAR DATOS(ELIMINAR)</button>
                          </div> -->
                      </div>
                  </span>
                    </span>
                </form>
            </div>
          </div>
        </div>
      </div>
</div>


<div *ngIf="id === 0">
    <div class="container mt-5">
        <div class="card mb-3 border border-0 mx-auto">
          <div class="card-body">
            <form [formGroup]="form" (submit)="addInsumo()">

              <div class="row">
                <div class="col">
                  <div class="form-group text-center">
                    <label for="cantidad">Insumo</label>
                    <br>
                    <select class="form-select col-md-12" aria-label="entidades de insumos" formControlName="insumoEntity">
                        <option *ngFor="let insumo of productos" [value]="insumo.id">{{insumo.name}}</option>
                    </select>
                    
                </div>
                </div>

                <div class="col">
                  <div class="form-group text-center">
                    <label for="deposito">Donde se Alamacenara?</label>
                    <br>
                    <select class="form-select col-md-12" aria-label="Depositos" formControlName="deposito">
                        <option *ngFor="let deposito of depositos" [value]="deposito.id">{{deposito.description}}</option>
                    </select>
                    
                </div>
                </div>
              </div>

              <div class="row">
                <div class="col col-md-6">
                  <div class="form-group text-center">
                    <label for="cantidad">Cantidad</label>
                    <input formControlName="quantity" type="number" class="form-control col-md-12" placeholder="Cantidad">
                </div>
                </div>

              </div>
             

            
              <span>

                <div class="row mt-5 text-center">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <button routerLinkActive="router-link-active" type="submit"
                            class="btn btn-success">Aceptar </button>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <a type="button" class="btn btn-info" href="dashboard/insumo"> Volver </a>
                    </div>
  
                    
                    <!-- <div class="col-xs-12 col-md-6 col-lg-6">
                        <button type="button" class="btn btn-danger" (click)="rellenardatos()">RELLENAR DATOS(ELIMINAR)</button>
                    </div> -->
                </div>
            </span>

    
         
    
        

       
    
            </form>
           
         
          
        </div>
      </div>
      <br>
      
    </div>



  
