<div class="text-right">
    <button type="button" id="agregar" class="btn btn-outline-success mr-2 agregar" [routerLink]="['crear-editar']"> Agregar
        Documento</button>
  </div>


<section class="text-center section-with-margin">
    <div class="row">
      <div class="col-md-6 border-right" >
        <h4 class="mb-3">Remitos</h4>
        
        
        <div class="card" *ngFor="let remito of remitos" (click)="showCardDetails(remito)">
          <div class="card-header presupuesto-card-header"  data-target="#Modal" data-toggle="modal" >
            {{remito.name}}
          </div>(click)="showCardDetails(finalizado)"
  
          <div class="card-body" data-target="#Modal" data-toggle="modal">
            {{remito.description}}
          </div>
          <div class="card-footer">
            <a class="btn btn-outline-danger ml-1" (click)="$event.stopPropagation()" ><i class="fa-solid fa-trash"></i></a>
          </div>
        </div>
        
      
      </div>


      <div class="col-md-6 border-right" >
        <h4 class="mb-3">Facturas</h4>
  
        <div class="card" *ngFor="let factura of facturas " (click)="showCardDetails(factura)">
          <div class="card-header preparacion-card-header"data-target="#Modal" data-toggle="modal">
            {{factura.Personas[0].name}},{{factura.Personas[0].lastname}} | {{factura.createdAt|date:'dd/MM/yyyy'}}
          </div>
  
          <div class="card-body" data-target="#Modal" data-toggle="modal">
            {{factura.description}}
          </div>
  
          <div class="card-footer">
            <a class="btn btn-outline-danger ml-1" (click)="$event.stopPropagation()"><i class="fa-solid fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>


</section>


<div class="modal fade modal" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">{{cardData.Personas[0].name}},{{cardData.Personas[0].lastname}} | {{cardData.createdAt|date:'dd/MM/yyyy'}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>IVA: {{ cardData.iva }}%</p>
          <p>Total: {{ cardData.total }}</p>
          <p>Condicion de Venta: {{ cardData.condicionIva }}</p>
          <p>Subtotal + IVA: {{ cardData.totalIva }}</p>
          <h5 class="text-center">Pedidos</h5>
          <span class="card text-center" *ngFor="let item of cardData.Pedidos">
            <div class="card-header"> {{item.name}}</div>
            <div class="card-body">
              <p>{{ item.description }}</p>
              <p>Subtotal: {{ item.subtotal }}</p>
            </div>
          </span>

          <h5 class="text-center">Datos del Cliente</h5>
          <span class="card text-center" *ngFor="let item of cardData.Personas">
            <div class="card-header"> {{ item.name }}, {{ item.lastname }}</div>
            <div class="modal-body">
                <p>Email: {{ item.email }}</p>
                <p>DNI: {{ item.dni }}</p>
                <p>CUIL: {{ item.cuil }}</p>
                <p>Direccion: {{ item.adress }}, {{ item.adress_number }}</p>
                <p>Telefono: {{ item.phone }}</p>
                <p>{{ item.description }}</p>
                <p *ngFor="let cliente of item.cliente">
                 Empresa: {{ cliente.industry }}
                </p>
              
                <p *ngFor="let cliente of cardData.cliente">
                  Localidad: {{ cliente.city }}
                </p>
              </div>
          </span>

        </div>
      </div>
    </div>
  </div>