<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3"></app-breadcrumbs>
<div class="text-right">
    <button type="button" class="btn btn-outline-success add mr-2" data-target="#crearTipo" data-toggle="modal"> Agregar Unidad de Medida</button>
  </div>
  
  
  <section style="margin: 16px">
   
    <input pInputText type="text" (input)="applyFilter($event)" placeholder="Buscar por Descripción.." class="mb-3">
    <p-table #dt [value]="filteredUnidades" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{'max-width': '100vw'}">
      <ng-template pTemplate="header"  class="p-overlaypanel-header p-component-header">
          <tr class="table-header-color">
              <th pSortableColumn="id">
                  ID
                  <p-sortIcon field="id" style="margin: 16px"></p-sortIcon>
              </th>
              <th pSortableColumn="name">
                  Descripcion
                  <p-sortIcon field="name" style="margin: 16px"></p-sortIcon>
              </th>
              <th>
                Acciones
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>{{ rowData.id }}</td>
          <td>{{ rowData.descripcion }}</td>
          <td>
            <button data-target="#crearTipo" data-toggle="modal" (click)="editarTipo(rowData)"routerLinkActive="router-link-active"
              type="button" class="btn btn-outline-primary" aria-label="Editar Producto">
              <i class="fa-solid fa-pen-to-square"></i>
          </button>
  
                <button type="button" (click)="deleteEntidad(rowData.id)"
                    class="btn btn-outline-danger ms-4" aria-label="Borrar Producto"><i
                        class="fa-solid fa-trash"></i></button>
          </td>
          
        </tr>
      </ng-template>
    </p-table>
    
  
  </section>
 
  
  
  
  <div class="modal fade" id="crearTipo" tabindex="-1" role="dialog" aria-labelledby="crearMesa" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCrearTipoLabel">Crear/Editar Paises</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="guardarNuevoTipo()">
                    <div class="form-group">
                      <label for="nombreTipo">Descripcion</label>
                      <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
                      <div *ngIf="form.get('descripcion')?.invalid && form.get('descripcion')?.touched" class="text-danger">
                        Este Campo es requerido
                      </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Completar</button>
                </form>
            </div>
        </div>
    </div>
  </div>
  
  
    
  
  