
<div class="container mt-5">
    <div class="card mb-3 border border-0 mx-auto">
      <div class="card-body">
        <form [formGroup]="form">
                <div class="form-group text-center">
                    <label for="description">Descripcion</label>
                    <input formControlName="description" type="text" class="form-control" placeholder="Descripcion">
                </div>
        </form>
      <div class="row mt-5">
        <div class="col-md-6 offset-md-3 text-center">
          <button [disabled]="form.invalid" routerLinkActive="router-link-active" type="submit" class="btn btn-success" (click)="addPadron()">Aceptar</button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6 offset-md-3 text-center">
          <button [routerLink]="['/dashboard/pedidos-compra']" type="button" class="btn btn-info">Volver</button>
        </div>
      </div>
      
     
      
    </div>
  </div>
  <br>
</div>     





