<div class="text-right">
    <button type="button" class="btn btn-outline-success add mr-2" [routerLink]="['crear-editar']"> Agregar
        Pedido</button>
  </div>
  <section class="text-center section-with-margin">
      <div class="row">
        <div class="col-md-3 border-right" >
          <h4 class="mb-3" >Presupuestado</h4>
          
          
          <div class="card" *ngFor="let presupuesto of listPresupuesto" >
            <div class="card-header presupuesto-card-header" (click)="showCardDetails(presupuesto)" data-target="#InsumoModal" data-toggle="modal"  >
              {{presupuesto.name}}
            </div>
    
            <div class="card-body" (click)="showCardDetails(presupuesto)" data-target="#presupuesto" data-toggle="modal">
              {{presupuesto.description}}
            </div>
            <div class="card-footer">
              <a class="btn btn-outline-dark mr-1"  (click)="cambiarEstado(presupuesto.id, presupuesto, 'APROBADO')">Aprobar</a>
              <a class="btn btn-outline-danger ml-1" (click)="eliminarPedido(presupuesto.id)" ><i class="fa-solid fa-trash"></i></a>
            </div>
          </div>
          
        
        </div>

        <div class="col-md-3 border-right">
            <h4 class="mb-3">Aprobado</h4>
            <div class="card" *ngFor="let aprobado of listAprobado" >
              <div class="card-header preparacion-card-header" (click)="showCardDetails(aprobado)" data-target="#InsumoModal" data-toggle="modal">
                {{aprobado.name}}
              </div>
              <div class="card-body" (click)="showCardDetails(aprobado)" data-target="#InsumoModal" data-toggle="modal">
                {{aprobado.description}}
              </div>
              <div class="card-footer">
                <a class="btn btn-outline-dark mr-1" (click)="cambiarEstado(aprobado.id, aprobado, 'PREPARACION')">Comenzar Pedido</a>
                <a class="btn btn-outline-danger ml-1" (click)="cambiarEstado(aprobado.id, aprobado, 'CANCELADO')">Cancelado</a>
              </div>
            </div>
          </div>
  
  
        <div class="col-md-3 border-right" >
          <h4 class="mb-3">Preparacion</h4>
    
          <div class="card" *ngFor="let preparacion of listPreparacion">
            <div class="card-header preparacion-card-header"(click)="showCardDetails(preparacion)"data-target="#InsumoModal" data-toggle="modal">
              {{preparacion.name}}
            </div>
    
            <div class="card-body"(click)="showCardDetails(preparacion)"data-target="#InsumoModal" data-toggle="modal">
              {{preparacion.description}}
            </div>
    
            <div class="card-footer">
              <button class="btn btn-outline-dark mr-1"  (click)="showCardDetails(preparacion)" data-target="#depositoModal" data-toggle="modal">Finalizar</button>
              <a class="btn btn-outline-danger ml-1" (click)="cambiarEstado(preparacion.id, preparacion, 'CANCELADO', 'devolverInsumos')" >Cancelado</a>
            </div>
          </div>
        </div>
  
  
        <div class="col-md-3 border-right" >
          <h4 class="mb-3">Finalizado</h4>
    
          <div class="card" *ngFor="let finalizado of listFinalizado">
            <div class="card-header finalizado-card-header"(click)="showCardDetails(finalizado)" data-target="#InsumoModal" data-toggle="modal">
              {{finalizado.name}}
            </div>
    
            <div class="card-body"(click)="showCardDetails(finalizado)"data-target="#InsumoModal" data-toggle="modal">
              <p>{{finalizado.name}}</p>
            </div>
            <div class="card-footer">
              
              <a class="btn btn-outline-danger ml-1" (click)="eliminarPedido(finalizado.id)" ><i class="fa-solid fa-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
  
    </section>
    
  
  
    <div class="modal fade modal" id="InsumoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center">{{ cardData.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ cardData.description }}</p>
            <p>Subtotal: {{ calcularSubtotal(cardData)| currency }}</p>
            
            <div class="table-container">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Costo </th>
                    <th scope="col">Can. Solicitada</th>
                  </tr>
                </thead>
                <tbody style="max-height: 300px; overflow-y: auto;">
                  <tr *ngFor="let item of cardData.productos">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.costo_unit | currency}} + {{item.profit}}%</td>
                    <td>{{item.PedidosProductos.quantity_requested}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
            <button *ngIf="cardData.state=='PRESUPUESTADO'" type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateEntidad(cardData.id)"><i class="fa-solid fa-pen-to-square"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade modal" id="presupuesto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center">{{ cardData.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ cardData.description }}</p>
            <p><strong>Subtotal:</strong> {{ calcularSubtotal(cardData)| currency }}</p>
            <p><strong>Moneda:</strong> {{cardData.Moneda?.description}}</p>
    
            <div class="table-container">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Can. Solicitada</th>
                  </tr>
                </thead>
                <tbody style="max-height: 300px; overflow-y: auto;">
                  <tr *ngFor="let item of cardData.productos">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.costo_unit | currency}} + {{item.profit}}%</td>
                    <td>{{item.PedidosProductos.quantity_requested}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
            <button data-dismiss="modal" (click)="updateEntidad(cardData.id)"><i class="fa-solid fa-pen-to-square"></i></button>
          </div>
        </div>
      </div>
    </div>
    
  
    <div class="modal fade modal" id="depositoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title text-center">En qué depósito desea almacenar el pedido?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="form-group text-center">
                      <label for="selectDeposito">Seleccionar Depósito:</label>
                      <br>
                      <select id="selectDeposito" class="form-select" [(ngModel)]="selectedDepositoId" aria-label="Depositos">
                          <option *ngFor="let deposito of depositos" [value]="deposito.id">{{ deposito.description }}</option>
                      </select>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="onAceptarClick()" data-dismiss="modal">Aceptar</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
              </div>
          </div>
      </div>
  </div>
  
