<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3"></app-breadcrumbs>
<div class="text-right">
    <button type="button" class="btn btn-outline-success add mr-2" [routerLink]="['crear-editar']"> Agregar
        Pedido</button>
  </div>
  <section class="text-center section-with-margin">
      <div class="row">
        <div class="col-md-3 border-right" >
          <h4 class="mb-3" >Presupuestado</h4>
          
          
          <div class="card" *ngFor="let presupuesto of listPresupuesto" >
            <div class="card-header presupuesto-card-header"(click)="navigateToDetalle(presupuesto.id)"  >
              {{presupuesto.createdAt | date}} || #{{presupuesto.id}}
            </div>
    
            <div class="card-body"(click)="navigateToDetalle(presupuesto.id)" data-target="#presupuesto" data-toggle="modal">
              {{presupuesto.Persona.name}} {{presupuesto.Persona.lastname}}
            </div>
            <div class="card-footer">
              <a class="btn btn-outline-dark mr-1"  (click)="cambiarEstado(presupuesto.id, presupuesto, 'APROBADO')">Aprobar</a>
              <a class="btn btn-outline-danger ml-1" (click)="eliminarPedido(presupuesto.id)" ><i class="fa-solid fa-trash"></i></a>
              <button type="button" class="btn btn-outline-primary ml-1" data-dismiss="modal" (click)="updateEntidad(presupuesto.id)"><i class="fa-solid fa-pen-to-square"></i></button>
            </div>
          </div>
          
        
        </div>

        <div class="col-md-3 border-right">
            <h4 class="mb-3">Aprobado</h4>
            <div class="card" *ngFor="let aprobado of listAprobado" >
              <div class="card-header preparacion-card-header" (click)="navigateToDetalle(aprobado.id)">
                {{aprobado.createdAt | date}} || #{{aprobado.id}}
              </div>
              <div class="card-body" (click)="navigateToDetalle(aprobado.id)">
                {{aprobado.Persona.name}} {{aprobado.Persona.lastname}}
              </div>
              <div class="card-footer">
                <a class="btn btn-outline-dark mr-1" (click)="cambiarEstado(aprobado.id, aprobado, 'PREPARACION')">Comenzar Pedido</a>
                <a class="btn btn-outline-danger ml-1" (click)="cambiarEstado(aprobado.id, aprobado, 'CANCELADO')">Cancelado</a>
              </div>
            </div>
          </div>
  
  
        <div class="col-md-3 border-right" >
          <h4 class="mb-3">Preparacion</h4>
    
          <div class="card" *ngFor="let preparacion of listPreparacion">
            <div class="card-header preparacion-card-header" (click)="navigateToDetalle(preparacion.id)">
              {{preparacion.createdAt | date}} || #{{preparacion.id}}preparacion
            </div>
    
            <div class="card-body" (click)="navigateToDetalle(preparacion.id)">
              {{preparacion.Persona.name}} {{preparacion.Persona.lastname}}
            </div>
    
            <div class="card-footer">
              <button class="btn btn-outline-dark mr-1"  (click)="showCardDetails(preparacion)" data-target="#depositoModal" data-toggle="modal">Finalizar</button>
              <a class="btn btn-outline-danger ml-1" (click)="cambiarEstado(preparacion.id, preparacion, 'CANCELADO', 'devolverInsumos')" >Cancelado</a>
            </div>
          </div>
        </div>
  
  
        <div class="col-md-3 border-right" >
          <h4 class="mb-3">Finalizado</h4>
    
          <div class="card" *ngFor="let finalizado of listFinalizado">
            <div class="card-header finalizado-card-header"(click)="navigateToDetalle(finalizado.id)">
              {{finalizado.createdAt | date}} || #{{finalizado.id}}
            </div>
    
            <div class="card-body"(click)="navigateToDetalle(finalizado.id)">
              {{finalizado.Persona.name}} {{finalizado.Persona.lastname}}
            </div>
            <div class="card-footer">
              
              <a class="btn btn-outline-danger ml-1" (click)="showCardDetails(finalizado)" data-target="#eliminarFinalizado" data-toggle="modal" ><i class="fa-solid fa-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
  
    </section>
    
  
  
  
    <div class="modal fade modal" id="depositoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title text-center">En qué depósito desea almacenar el pedido?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="form-group text-center">
                      <label for="selectDeposito">Seleccionar Depósito:</label>
                      <br>
                      <select id="selectDeposito" class="form-select" [(ngModel)]="selectedDepositoId" aria-label="Depositos">
                          <option *ngFor="let deposito of depositos" [value]="deposito.id">{{ deposito.description }}</option>
                      </select>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="onAceptarClick()" data-dismiss="modal">Aceptar</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
              </div>
          </div>
      </div>
  </div>
  
  <div class="modal fade modal" id="eliminarFinalizado" tabindex="-1" role="dialog" aria-labelledby="eliminarFinalizado" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Deseas eliminar este pedido?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <p>Esto eliminara las cantidades enlazadas a el pedido a su respectiva entidad en Stock PT</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="eliminarPedido(cardData.id, true)">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
  </div>