
<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3"></app-breadcrumbs>
<div class="text-right">
  <button type="button" class="btn btn-outline-success mr-2 " [routerLink]="['crear-editar']"> Agregar Insumo</button>
</div>


<section style="margin: 16px">
    <table  class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Uni. Medida</th>
          <th scope="col">Precio Unit</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Deposito</th>
          <th scope="col">Cant.Reservada</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table" *ngFor="let entidad of entidades" data-target="#Modal" data-toggle="modal" (click)="showCardDetails(entidad)" >
          <th scope="row">{{entidad.id}}</th>
          <td>{{entidad.name}}</td>
          <td>{{entidad.description}}</td>
          <td>{{entidad.unidad_medida}}</td>
          <td>{{entidad.costo_unit | currency}}</td>
          <td>{{entidad.quantity}}</td>
          <td>{{entidad.deposito.description}}</td>
          <td>{{entidad.quantity_reserved}}</td>
          <td>
              <div class="wrapper d-flex justify-content-end">
                  <button [routerLink]="['crear-editar', entidad.id]" routerLinkActive="router-link-active"
                      type="button" class="btn btn-outline-primary" aria-label="Editar Producto">
                      <i class="fa-solid fa-pen-to-square"></i>
                  </button>

                  <button type="button" (click)="deleteEntidad(entidad.id)"
                      class="btn btn-outline-danger ms-4" aria-label="Borrar Producto"><i
                          class="fa-solid fa-trash"></i></button>
              </div>
          </td>

        </tr>
        
      </tbody>
    </table>

</section>




<div class="modal fade modal" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title ">{{ cardData.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ cardData.description }}</p>
        <p>Precio: {{ cardData.price | currency }}</p>
        <p>Cantidad: {{ cardData.quantity }}</p>
        <p>Cantidad Reservada: {{ cardData.quantity_reserved }}</p>
        <p>Unidad de Medida: {{ cardData.unidad_medida }}</p>
        <p>Deposito: {{ cardData.deposito.description }}</p>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
        
      </div>
    </div>
  </div>
</div>





  

