

<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a class="h1">COFFIN-WEB</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Iniciar Sesión</p>
  
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="username" placeholder="Usuario">
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Aceptar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->


</body>


