<div *ngIf="id !== 0">

    <div class="container mt-5">
        <div class="card mb-3 border border-0 mx-auto">
          <div class="card-body">
            <form [formGroup]="form">
              <div class="form-group text-center">
                <label for="name">Nombre:</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Nombre" />
              </div>
    
              <div class="form-group text-center">
                <label for="description">Descripción:</label>
                <input formControlName="description" type="text" class="form-control" placeholder="Descripcion">
              </div>
    
              <div class="form-group text-center">
                <label for="measurement_height">Altura (cm):</label>
                <input formControlName="measurement_height" type="text" class="form-control" placeholder="Alto">
              </div>
    
              <div class="form-group text-center">
                <label for="measurement_length">Largo (cm):</label>
                <input formControlName="measurement_length" type="text" class="form-control" placeholder="Largo">
              </div>
            
    
            <div class="form-group text-center">
                <label for="measurement_depth">Ancho (cm):</label>
                <input formControlName="measurement_depth" type="text" class="form-control" placeholder="Ancho">
            </div>
    
            <div class="form-group text-center">
                <label for="profit">Profit:</label> 
                <input formControlName="profit" type="text" class="form-control" placeholder="profit">
            </div>
    
            <div class="form-group text-center">
                <label for="price">Precio:</label>
                <input formControlName="price" type="text" class="form-control" placeholder="precio">
            </div>
    
            <div class="form-group text-center">
              <label for="unidad_medida">Unidad de Medida:</label>
              <input formControlName="unidad_medida" type="text" class="form-control" placeholder="Unidad de Medida">
          </div>
    
          <div class="form-group text-center">
            <label for="cantidad">Cantidad</label>
            <input formControlName="cantidad" type="text" class="form-control" placeholder="Cantidad">
        </div>
    
            </form>
          </div>
      
          
      
          <div class="row mt-5">
            <div class="col-md-6 offset-md-3 text-center">
              <button [disabled]="form.invalid" routerLinkActive="router-link-active" type="submit" class="btn btn-success" (click)="addProducto()">Aceptar</button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6 offset-md-3 text-center">
              <button [routerLink]="['/dashboard/pedidos-compra']" type="button" class="btn btn-info">Volver</button>
            </div>
          </div>
      
        </div>
      </div>
      
          
</div>

<div *ngIf="id === 0">
<div class="container mt-5">
    <div class="card mb-3 border border-0 mx-auto">
      <div class="card-body">
        <form [formGroup]="form">

      <div class="form-group text-center">
        <label for="cantidad">Cantidad</label>
        <input formControlName="cantidad" type="text" class="form-control" placeholder="Cantidad">
    </div>

    <div class="form-group text-center">
        <label for="cantidad">Entidad de Producto</label>
        <br>
        <select class="form-select" aria-label="entidades de productos" formControlName="productEntity">
            <option *ngFor="let producto of productos" [value]="producto.id">{{producto.name}}</option>
        </select>
        
    </div>

        </form>
      <div class="row mt-5">
        <div class="col-md-6 offset-md-3 text-center">
          <button [disabled]="form.invalid" routerLinkActive="router-link-active" type="submit" class="btn btn-success" (click)="addProducto()">Aceptar</button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6 offset-md-3 text-center">
          <button [routerLink]="['/dashboard/pedidos-compra']" type="button" class="btn btn-info">Volver</button>
        </div>
      </div>
      
     
      
    </div>
  </div>
  <br>
  
</div>


      



