<div *ngIf="id !== 0">

    <div class="container mt-5">
        <div class="card mb-3 border border-0 mx-auto">
          <div class="card-body">
            <form [formGroup]="form">
                  <div class="form-group text-center">
                    <label for="name">Nombre:</label>
                    <input formControlName="name" type="text" class="form-control" placeholder="Nombre" />
                  </div>
        
                  <div class="form-group text-center">
                    <label for="description">Descripción:</label>
                    <input formControlName="description" type="text" class="form-control" placeholder="Descripcion">
                  </div>
        
        
                  <div class="form-group text-center">
                      <label for="profit">Profit:</label> 
                      <input formControlName="profit" type="text" class="form-control" placeholder="profit">
                  </div>
          
                  <div class="form-group text-center">
                      <label for="costo_unit">Costo Unit:</label>
                      <input formControlName="costo_unit" type="text" class="form-control" placeholder="precio">
                  </div>
          
                  <div class="form-group text-center">
                    <label for="unidad_medida">Unidad de Medida:</label>
                    <input formControlName="unidad_medida" type="text" class="form-control" placeholder="Unidad de Medida">
                </div>
          
                <div class="form-group text-center">
                  <label for="quantity">Cantidad</label>
                  <input formControlName="quantity" type="text" class="form-control" placeholder="Cantidad">
              </div>

              <div class="form-group text-center">
                <label for="deposito">Donde se Alamacenara?</label>
                <br>
                <select class="form-select" aria-label="Depositos" formControlName="deposito">
                    <option *ngFor="let deposito of depositos" [value]="deposito.id">{{deposito.description}}</option>

                </select>
                
              </div>
    
            </form>
          </div>
      
          
      
          <div class="row mt-5">
            <div class="col-md-6 offset-md-3 text-center">
              <button [disabled]="form.invalid" routerLinkActive="router-link-active" type="submit" class="btn btn-success" (click)="addProducto()">Aceptar</button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6 offset-md-3 text-center">
              <button [routerLink]="['/dashboard/pedidos-compra']" type="button" class="btn btn-info">Volver</button>
            </div>
          </div>
      
        </div>
      </div>
      
          
</div>

<div *ngIf="id === 0">
<div class="container mt-5">
    <div class="card mb-3 border border-0 mx-auto">
      <div class="card-body">
        <form [formGroup]="form">

            <div class="form-group text-center">
              <label for="quantity">Cantidad</label>
              <input formControlName="quantity" type="text" class="form-control" placeholder="Cantidad">
          </div>

        <div class="form-group text-center">
            <label for="entidad">Entidad de Producto</label>
            <br>
            <select class="form-select" aria-label="entidades de producto" formControlName="entidad">
                <option *ngFor="let producto of productos" [value]="producto.id">{{producto.name}}</option>
            </select>
            
        </div>
        
        <div class="form-group text-center">
          <label for="deposito">Donde se Alamacenara?</label>
          <br>
          <select class="form-select" aria-label="Depositos" formControlName="deposito">
              <option *ngFor="let deposito of depositos" [value]="deposito.id">{{deposito.description}}</option>
          </select>
          
        </div>

      </form>
      <div class="row mt-5">
        <div class="col-md-6 offset-md-3 text-center">
          <button routerLinkActive="router-link-active" type="submit" class="btn btn-success" (click)="addProducto()">Aceptar</button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6 offset-md-3 text-center">
          <button [routerLink]="['/dashboard/pedidos-compra']" type="button" class="btn btn-info">Volver</button>
        </div>
      </div>
      
     
      
    </div>
  </div>
  <br>
  
</div>


      



