<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3"></app-breadcrumbs>
<div *ngIf="id !== 0">

    <div class="container mt-5">
        <div class="card mb-3 border border-0 mx-auto">
          <div class="card-body">
            <form [formGroup]="form">

              <div class="row">
                <div class="col">
                  <div class="form-group text-center">
                    <label for="name">Nombre:</label>
                    <input formControlName="name" type="text" class="form-control" placeholder="Nombre" />
                  </div>
                </div>

                <div class="col">
                  <div class="form-group text-center">
                    <label for="description">Descripción:</label>
                    <input formControlName="description" type="text" class="form-control" placeholder="Descripcion">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group text-center">
                    <label for="profit">Profit:</label> 
                    <input formControlName="profit" type="number" class="form-control" placeholder="profit">
                </div>
                </div>

                <div class="col">
                  <div class="form-group text-center">
                    <label for="costo_unit">Costo Unit:</label>
                    <input formControlName="costo_unit" type="number" class="form-control" placeholder="precio">
                </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group text-center">
                    <label for="profit">Cantidad:</label> 
                    <input formControlName="quantity" type="number" class="form-control " placeholder="Cantidad..">
                </div>
                </div>

                <div class="col">
                  <div class="form-group text-center">
                    
                </div>
                </div>

              </div>
 
                <div class="row">
                  <div class="col">
                      <div class="form-group text-center">
                        <label for="deposito">Unidades De Medida</label>
                        <br>
                        <select class="form-select col-md-12" aria-label="Unidad de Medida" formControlName="uni_medida">
                          <option *ngFor="let unidad of unidadesMedida " [value]="unidad.id"> {{unidad.descripcion}}</option>
                        </select>
                      </div>
                    </div>

                      <div class="col">
                        <div class="form-group text-center">
                          <label for="deposito">Donde se Alamacenara?</label>
                          <br>
                          <select class="form-select col-md-12" aria-label="Depositos" formControlName="deposito">
                              <option *ngFor="let deposito of depositos" [value]="deposito.id">{{deposito.description}}</option>
                          </select>
                        </div>
                    </div>
                
              </div>
            
    
            </form>
            <div class="row mt-5">
              <div class="col-md-6  text-center">
                <button [disabled]="form.invalid" routerLinkActive="router-link-active" type="submit" class="btn btn-success" (click)="addProducto()">Aceptar</button>
              </div>
            
            
              <div class="col-md-6  text-center">
                <button [routerLink]="['/dashboard/productos']" type="button" class="btn btn-info">Volver</button>
              </div>
  
            </div>
          </div>
          </div>
        </div>
      
      
          
</div>

<div *ngIf="id === 0">
<div class="container mt-5">
    <div class="card mb-3 border border-0 mx-auto">
      <div class="card-body">
        <form [formGroup]="form">

          <div class="row">
            <div class="col">
              <div class="form-group text-center">
                <label for="entidad"> Producto</label>
                <br>
                <select class="form-select col-md-12" aria-label="entidades de producto" formControlName="entidad">
                    <option *ngFor="let producto of productos" [value]="producto.id">{{producto.name}}</option>
                </select>
                
            </div>
            </div>
  
            <div class="col">
              <div class="form-group text-center">
                <label for="deposito">Deposito</label>
                <br>
                <select class="form-select col-md-12" aria-label="Depositos" formControlName="deposito">
                    <option *ngFor="let deposito of depositos" [value]="deposito.id">{{deposito.description}}</option>
                </select>
                
              </div>
  
            </div>
          </div>

          <div class="row">
            <div class="col col-md-6">
              <div class="form-group text-center">
                <label for="cantidad">Cantidad</label>
                <input formControlName="quantity" type="number" class="form-control col-md-12" placeholder="Cantidad">
            </div>
            </div>

          </div>

       
       
        
       

      </form>
      <div class="row mt-5">
        <div class="col-md-6  text-center">
          <button [disabled]="form.invalid" routerLinkActive="router-link-active" type="submit" class="btn btn-success" (click)="addProducto()">Aceptar</button>
        </div>
      
      
        <div class="col-md-6  text-center">
          <button [routerLink]="['/dashboard/productos']" type="button" class="btn btn-info">Volver</button>
        </div>
      
     
      
    </div>
  </div>
  <br>
  
</div>


      



