
<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3"></app-breadcrumbs>
<div class="text-right">
    <button type="button " class="btn btn-outline-success mr-2" [routerLink]="['crear-editar']"> Agregar Producto</button>
  </div>
  
  
  <section style="margin: 16px">
    <input pInputText type="text" (input)="applyFilter($event)" placeholder="Buscar por nombre.." class="mb-3">
    <p-table #dt [value]="filteredProductos" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{'max-width': '100vw'}">
      <ng-template pTemplate="header"  class="p-overlaypanel-header p-component-header">
          <tr class="table-header-color">
              
              <th pSortableColumn="name">
                Nombre
                <p-sortIcon field="name" style="margin: 16px"></p-sortIcon>
              </th>
              <th pSortableColumn="description">
                  Descripción
                  <p-sortIcon field="description" style="margin: 16px"></p-sortIcon>
              </th>
  
              <th pSortableColumn="unidad_medida">
                Uni. Medida
                <p-sortIcon field="unidad_medida" style="margin: 16px"></p-sortIcon>
              </th>
              <th pSortableColumn="quantity">
                Cantidad
                <p-sortIcon field="quantity" style="margin: 16px"></p-sortIcon>
              </th>
              <th pSortableColumn="deposito.description">
                Deposito
                <p-sortIcon field="deposito.description" style="margin: 16px"></p-sortIcon>
              </th>
              
              
              <th>
                Acciones
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>

          <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(rowData)">{{ rowData.name }}</td>
          <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(rowData)">{{ rowData.description }}</td>
          <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(rowData)">{{rowData.unidad_medida}}</td>
          <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(rowData)">{{rowData.quantity}}</td>
          <td data-target="#Modal" data-toggle="modal" (click)="showCardDetails(rowData)">{{rowData.deposito.description}}</td>

          <td>
            <button routerLinkActive="router-link-active"
              type="button" class="btn btn-outline-primary" [routerLink]="['crear-editar', rowData.id]" aria-label="Editar Producto">
              <i class="fa-solid fa-pen-to-square"></i>
          </button>
  
                <button type="button" (click)="deleteEntidad(rowData.id)"
                    class="btn btn-outline-danger ms-4" aria-label="Borrar Producto"><i
                        class="fa-solid fa-trash"></i></button>
          </td>
          
        </tr>
      </ng-template>
    </p-table>
  
  </section>
  
  
  
  
   <!-- <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Uni. Medida</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Deposito</th>
            <th scope="col">Acciones</th>
            
          </tr>
        </thead>
        <tbody>
          <tr class="table" data-target="#Modal" data-toggle="modal" (click)="showCardDetails(entidad)"   *ngFor="let entidad of entidades" >
            <td>{{entidad.name}}</td>
            <td>{{entidad.description}}</td>
            <td>{{entidad.unidad_medida}}</td>
            <td>{{entidad.quantity}}</td>
            <td> {{entidad.deposito.description }}</td>
            <td>
                <div class="wrapper d-flex justify-content-end">
                    <button [routerLink]="['crear-editar', entidad.id]" routerLinkActive="router-link-active"
                        type="button" class="btn btn-outline-primary" aria-label="Editar Producto">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
  
                    <button type="button" (click)="deleteEntidad(entidad.id)"
                        class="btn btn-outline-danger ms-4" aria-label="Borrar Producto"><i
                            class="fa-solid fa-trash"></i></button>
                </div>
            </td>
  
          </tr>
          
        </tbody>
      </table> -->
  
    
  
  
