<section class="text-center section-with-margin">
    <div class="row">
      <div class="col-md-4 border-right">
        <h4 class="mb-3">Presupuestado</h4>
  
        <div class="card">
          <div class="card-header presupuesto-card-header">
            Compra
          </div>
  
          <div class="card-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
          </div>
  
          <div class="card-footer">
            <a href="#" class="btn btn-outline-primary mr-1">Aprobar</a>
            <a href="#" class="btn btn-outline-danger ml-1">Cancelar</a>
          </div>
        </div>
      </div>


      <div class="col-md-4 border-right">
        <h4 class="mb-3">Preparacion</h4>
  
        <div class="card">
          <div class="card-header preparacion-card-header">
            Compra
          </div>
  
          <div class="card-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
          </div>
  
          <div class="card-footer">
            <a href="#" class="btn btn-outline-dark mr-1">Cerrado</a>
            <a href="#" class="btn btn-outline-danger ml-1">Cancelado</a>
          </div>
        </div>
      </div>


      <div class="col-md-4 border-right">
        <h4 class="mb-3">Finalizado</h4>
  
        <div class="card">
          <div class="card-header finalizado-card-header">
            Compra
          </div>
  
          <div class="card-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
          </div>
  
          <div class="card-footer">
            <a href="#" class="btn btn-outline-danger">Finalizado</a>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  