<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Etc...</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
          <button><i class="fa-regular fa-pen-to-square"></i></button>
          <button><i class="fa-solid fa-plus"></i></button>
          </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>
          <button><i class="fa-regular fa-pen-to-square"></i></button>
          <button><i class="fa-solid fa-plus"></i></button>
          </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>
          <button><i class="fa-regular fa-pen-to-square"></i></button>
          <button><i class="fa-solid fa-plus"></i></button>
          </td>
      </tr>
      
    </tbody>
  </table>
  