<!-- ... Código previo ... -->

<div class="container mt-4" *ngIf="pedido">
    <!-- Detalles del pedido -->
    <h1 class="text-center">Detalle de Facturación</h1>
    <div class="row">
      <div class="col-md-6">
        <p><strong>Nombre del cliente:</strong>ellocopalito</p>
        <p><strong>CUIT del cliente:</strong>1312312321</p>
        <p><strong>Fecha de emisión:</strong> {{ pedido.createdAt | date }}</p>
      </div>
      <div class="col-md-6">
        <p><strong>Monto total:</strong> {{ pedido.subtotal | currency }}</p>
        <p><strong>Detalle de los productos/servicios:</strong></p>
        <p id="detalle">
          <!-- Aquí puedes iterar sobre los insumos del pedido -->
          <ng-container *ngFor="let insumo of pedido.insumos">
            <span>{{ insumo.name }} ({{ insumo.PedidosInsumos.cantidad }} unidades)</span><br>
          </ng-container>
        </p>
      </div>
    </div>
  
    <!-- Detalles de los productos/servicios en una tabla -->
    <h2 class="mt-4">Detalle de Productos/Servicios</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Unidad de Medida</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí puedes iterar sobre los productos del pedido -->
        <tr *ngFor="let producto of pedido.productos">
          <td>{{ producto.name }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>{{ producto.unidadMedida }}</td>
          <td>{{ producto.subtotal | currency }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Información del Vendedor -->
    <div class="row">
      <div class="col-md-6">
        <p><strong>Nombre del Vendedor:Valentin Caffaratto</strong></p>
        <p><strong>CUIT del Vendedor:</strong> 30-12345678-9</p>
      </div>
    </div>
  
    <!-- Firma y resumen -->
    <div class="firma-rectangulo">
      <div class="text-right">
        <p><strong>Subtotal Neto:</strong> {{ pedido.subtotal | currency }}</p>
        <p><strong>Importe Otros Tributos: 313123</strong></p>
        <p><strong>Importe Total:</strong> 12312</p>
      </div>
    </div>
  
    <div class="text-center">
      <a href="javascript:history.back()" class="btn btn-primary">Volver</a>
    </div>
  </div>
  
  <!-- ... Código posterior ... -->
  
