<div class="text-right">
  <button type="button" class="btn btn-outline-success add mr-2" [routerLink]="['crear-editar']"> Agregar Entidad</button>
</div>





<div class="parent">
  <div class="card" *ngFor="let card of entidades">
      <div class="content-box">
          <span class="card-title">{{card.name}}</span>
      </div>
      <div class="date-box">
          <span class="month">{{card.price | currency}}</span>
          <span class="date">{{card.quantity}}</span>
      </div>
  </div>
</div>
  