<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3"></app-breadcrumbs>
<div class="container mt-5">
    <div class="card mb-3 border border-0 mx-auto">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="form-group text-center">
            <label for="description">Nombre:</label>
            <input formControlName="description" type="text" class="form-control" placeholder="Nombre" />
          </div>
        
       
        
        <div class="row mt-5 text-center">
          <div class="col-xs-12 col-md-6 col-lg-6">
            <button [disabled]="form.invalid" type="button" class="btn btn-success" (click)="addDeposito()">Aceptar</button>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6">
              <button type="button" class="btn btn-info"> Volver </button>
          </div>
      </div>
      </form>
      </div>
  
      
    </div>
  </div>
  
