<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3"></app-breadcrumbs>
<section style="margin: 16px">
  <table  class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pedido</th>
        <th scope="col">Pertenecia a</th>
        <th scope="col">Cantidad enlazada al Pedido</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table" *ngFor="let entidad of listCancelado" (click)="showCardDetails(entidad)" >
        <th scope="row" (click)="navigateToDetalle(entidad.id)">{{entidad.id}}</th>
        <td (click)="navigateToDetalle(entidad.id)">{{entidad.createdAt | date}} || #{{entidad.id}}</td>
        <td (click)="navigateToDetalle(entidad.id)">{{entidad?.Persona?.name}} {{entidad?.Persona?.lastname}}</td>
        <td (click)="navigateToDetalle(entidad.id)">{{entidad?.productos?.length}}</td>


        <td>
            <div class="wrapper d-flex justify-content-left">
                <button type="button" (click)="eliminarPedido(entidad.id)"
                    class="btn btn-outline-danger ms-4" aria-label="Borrar Producto"><i
                        class="fa-solid fa-trash"></i></button>
            </div>
        </td>

      </tr>
      
    </tbody>
  </table>

</section>
  
  
  


  
  
    
  
  
