<div class="container mt-5">
    <div class="card mb-3 border border-0 mx-auto">
      <div class="card-body">
        <!-- Agrega un div contenedor que rodee al formulario -->
        <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="addProductEntity()">
                <span>
                    <div class="form-group text-center">
                        <label for="name">Nombre</label>
                        <input formControlName="name" type="text" class="form-control" placeholder="Nombre">
                    </div>
                    
                    <div class="form-group text-center">
                        <label for="measurement_height">Alto (cm) :</label>
                        <input formControlName="measurement_height" type="number" class="form-control" placeholder="Alto">
                    </div>

                    <div class="form-group text-center">
                        <label for="measurement_length">Largo (cm) :</label>
                        <input formControlName="measurement_length" type="number" class="form-control" placeholder="Largo">
                    </div>

                    <div class="form-group text-center">
                        <label for="measurement_depth">Profundidad (cm) :</label>
                        <input formControlName="measurement_depth" type="number" class="form-control" placeholder="Profundidad">
                    </div>

                    <div class="form-group text-center">
                        <label for="profit">Ganancia (%) :</label>
                        <input formControlName="profit" type="number" class="form-control" placeholder="Cantidad">
                    </div>
                
                
                    <span>

                        <div class="row mt-5 text-center">
                            <div class="col-xs-12 col-md-6 col-lg-6">
                                <button routerLinkActive="router-link-active" type="submit"
                                    class="btn btn-success">Aceptar </button>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6">
                                <button type="button" class="btn btn-info"> Volver </button>
                            </div>

                            
                            <div class="col-xs-12 col-md-6 col-lg-6">
                                <button type="button" class="btn btn-danger" (click)="rellenardatos()">RELLENAR DATOS(ELIMINAR)</button>
                            </div>
                        </div>
                    </span>
                </span>
            </form>
        </div>
      </div>
    </div>
  </div>
  


