<app-breadcrumbs [titulo]= 'breadcrumbItems' class="mb-3"></app-breadcrumbs>
<div class="container mt-5">
    <div class="card mb-3 border border-0 mx-auto">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col">
              <div class="form-group text-center">
                <label for="name">Nombre:</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Nombre" />
              </div>
            </div>
            <div class="col">
                <div class="form-group text-center">
                  <label for="lastname">Apellido:</label>
                  <input formControlName="lastname" type="text" class="form-control" placeholder="Apellido">
                </div>
            </div>

          </div>
          <div class="row">
              <div class="col">
                <div class="form-group text-center">
                  <label for="dni">DNI:</label>
                  <input formControlName="dni" type="number" class="form-control" placeholder="DNI">
                </div>
              </div>
            <div class="col">
              <div class="form-group text-center">
                <label for="cuil">CUIL:</label>
                <input formControlName="cuil" type="number" class="form-control" placeholder="CUIL">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <div class="form-group text-center">
                <label for="address">Direccion:</label>
                <input formControlName="address" type="text" class="form-control" placeholder="Direccion">
              </div>
          </div>
  
          <div class="col">
            <div class="form-group text-center">
              <label for="adress_number">Numero de Direccion:</label>
              <input formControlName="adress_number" type="number" class="form-control" placeholder="Numero de Direccion">
            </div>
          </div>

          </div>

          <div class="row">
            <div class="col">
              <div class="form-group text-center">
                <label for="phone">Telefono:</label>
                <input formControlName="phone" type="number" class="form-control" placeholder="Telefono">
              </div>
            </div>
            <div class="col">
              <div class="form-group text-center">
                <label for="email">Email:</label>
                <input formControlName="email" type="email" class="form-control" placeholder="Email">
              </div>
          </div>

          </div>
         
        
          

          <div class="row">
            <div class="col-md-6">
              <div class="form-group text-center">
                <label for="tipo_persona">Tipo de Persona:</label> <br>
                <select class="form-select col-md-12" aria-label="Default select example" formControlName="tipo_persona">
                  <option *ngFor="let tipoPersona of tipo" value="{{tipoPersona.id}}">{{tipoPersona.description}}</option>
                </select>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="form-group text-center">
                <label for="cond_iva">Condicion de Iva:</label> <br>
                <select class="form-select col-md-12" aria-label="Default select example" formControlName="cond_iva">
                  <option *ngFor="let tipoPersona of cond" value="{{tipoPersona.id}}">{{tipoPersona.description}}</option>
                </select>
              </div>
            </div>
          
           
            <div class="col-6">
              <div class="form-group text-center">
                <label for="locality">Localidad de residencia</label> <br>
                <select class="form-select col-md-12" aria-label="Default select example" formControlName="locality">
                  <option *ngFor="let locality of localidades" [value]="locality.id">{{ locality.name }}</option>
                </select>
              </div>
            </div>
          </div>
        
        
        <!-- ... Botón de enviar ... -->
        
        <div class="row mt-5 text-center">
          <div class="col-xs-12 col-md-6 col-lg-6">
            <button [disabled]="form.invalid" type="button" class="btn btn-success" (click)="addPersona()">Aceptar</button>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6">
              <button type="button" class="btn btn-info"> Volver </button>
          </div>

          
          <!-- <div class="col-xs-12 col-md-6 col-lg-6">
              <button type="button" class="btn btn-danger" (click)="rellenarDatos()">RELLENAR DATOS(ELIMINAR)</button>
          </div> -->
      </div>
      </form>
      </div>
  
      
    </div>
  </div>
  