<div class="text-right">
    <button type="button" class="btn btn-outline-success add mr-2" data-target="#CrearModal" data-toggle="modal" > Crear Nuevo</button>
</div>

<section style="margin: 16px">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Paises</th>
          <th scope="col"  data-target="#Provincias" data-toggle="modal">Provincias</th>
          <th scope="col" data-target="#Localidades" data-toggle="modal">Localidades</th>
          <th scope="col" data-target="#Bancos" data-toggle="modal">Bancos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais" lass="table" data-target="#Paises" data-toggle="modal" (click)="showCardDetails(pais)">

          <td>{{pais.name}}
        german
        </td>
          
          
        </tr>

        <tr *ngFor="let provincia" lass="table" data-target="#Provincias" data-toggle="modal" (click)="showCardDetails(provincia)">

            <td>{{provincia.name}}
                german
            </td>
            
        </tr>

        <tr *ngFor="let localidad" lass="table" data-target="#Localidades" data-toggle="modal" (click)="showCardDetails(localidad)">

            <td>
                german
            {{localidad.name}}
            </td>
            
            
            
        </tr>

        <tr *ngFor="let banco" lass="table" data-target="#Bancos" data-toggle="modal" (click)="showCardDetails(banco)">

            <td>
                {{banco.name}}
                german
            </td>
            
        </tr>
        
      </tbody>
    </table>
  
</section>

<!-- DISPLAY DE PAISES -->
<div class="modal fade modal" id="Paises" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">{{ cardData.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="text-center">Este pais tiene enlazadas las siguientes provincias:</h6>
        <p *ngFor="let pais of cardData.cliente">
          Localidad: {{ pais.name }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- DISPLAY DE PROVINCIAS -->
<div class="modal fade modal" id="Provincias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">{{ cardData.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="text-center">Esta Provincia pertenece a:
            <br>
            <!-- {{cardData.pais.name}} -->
            jeremias
          </h6>
          <h6 class="text-center">Esta Provincia tiene enlazadas las siguientes Localidades:</h6>
          <p *ngFor="let cliente of cardData.cliente">
            <!-- Localidad: {{ cliente.city }} -->
            german
            <br>
            gato
            <br>
            german
            <br>
            gato
            <br>
            german
            <br>
            gato
          </p>
          
        </div>
      </div>
    </div>
  </div>

  <!-- DISPLAY DE LOCALIDADES -->
<div class="modal fade modal" id="Localidades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">{{ cardData.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h6 class="text-center">Esta Localidad pertenece a:
                <br>
                <!-- {{cardData.pais.name}} -->
                jeremias
              </h6>
              <h6 class="text-center">Esta Localidad tiene enlazadas los siguientes Bancos:</h6>
              <p *ngFor="let cliente of cardData.cliente">
                <!-- Localidad: {{ cliente.city }} -->
                german
                <br>
                gato
                <br>
                german
                <br>
                gato
                <br>
                german
                <br>
                gato
              </p>
              
        </div>
      </div>
    </div>
  </div>

  <!-- DISPLAY DE BANCOS -->
<div class="modal fade modal" id="Bancos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">{{ cardData.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h6 class="text-center">Esta Banco pertenece a:
                <br>
                <!-- {{cardData.pais.name}} -->
                jeremias
              </h6>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade modal" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">{{ cardData.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="text-center">Este pais tiene enlazadas las siguientes provincias:</h6>
          <p *ngFor="let cliente of cardData.cliente">
            Localidad: {{ cliente.city }}
          </p>
        </div>
      </div>
    </div>
  </div>

<!-- MODAL DE PREGUNTA PARA ACCION DE CREAR -->
<div class="modal fade modal" id="CrearModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Que Padron Geografico le gustaria crear?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <label for="selectDeposito">Seleccionar:</label>
                    <br>
                    <select id="selectDeposito" class="form-select" aria-label="Depositos"[(ngModel)]="selectedOption">
                        <option value="PAIS">Pais</option>
                        <option value="PROVINCIA">Provincia</option>
                        <option value="LOCALIDAD">Localidad</option>
                        <option value="BANCO">Banco</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onAceptarClick()" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>